#Tue, 04 Jun 2013 14:56:31 +0900
app.name=Siesta

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=900c8df0-b13a-4284-8edb-919626746220
